<!-- <p class="top-header">top-header works!</p> -->

<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <ul class="contact-info">
                    <li><span class="icon fa fa-phone"></span> <a href="#" class="pl-3">7757888164, 9096288103, 9766971877</a></li>
                </ul>
            </div>
            <div class="col-sm-3 contact-info d-flex justify-content-center">
                <li class="mobile-hide"> <span class="icon fa fa-envelope-o mr-2"></span> <a href="#">info.tcsl&#64;dypic.in</a></li>
            </div>
            <div class="col-sm-3 ml-auto">
                <a href="" class="text-white">Download Brochure</a>
            </div>
            <!-- <div class="col-sm-12">
                <div class="top-right">
                    <ul class="contact-info clearfix d-flex justify-content-between list-unstyled">
                        <li><span class="icon fa fa-phone "></span> <a href="#" class="te pl-3">7757888164, 9096288103, 9766971877</a></li>
                        <li class="mobile-hide"> <span class="icon fa fa-envelope-o mr-2"></span> <a href="#">info.tcsl&#64;dypic.in</a></li>
                        <div class="float-right">
                            <li>
                                <a href="https://www.facebook.com" target="_blank">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com" target="_blank">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://x.com/i/flow/login?lang=en" target="_blank">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>
                            </li>

                        </div>
                    </ul>
                </div> 
            </div> -->
        </div>
    </div> 
</div>