.navbar-brand img {
    height: 100px;
    width: auto;
    max-height: 100%; /* Ensure it stays within the navbar */
  }

  .navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 17px;
   font-family: 'Open Sans', sans-serif;
  }
/* 
  .navbar-nav{
    color: black;
    font-size: 17px;
   font-family: 'Open Sans', sans-serif;

  } */
  .navbar-light .navbar-nav a:hover {
    color: red; /* Change text color on hover */
    /* border-bottom: 3px solid blue; */
    border-bottom: 3px solid red;

}