.container-fuild{
    background-color: red;
    color: white;
    text-align: center;
}

.logo-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #f8f9fa;
    padding: 15px 0;
}

.logo-track {
    display: flex;
    animation: scroll 30s linear infinite;
}

.logo-track img {
    max-width: 150px;
    max-height: 80px;
    margin: 0 20px;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}